<link rel="import"  href="./bower_components/polymer/polymer-element.html">
<link rel="import" href="./bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="haste-search">
    <template>
        <div id="app">
            <div class="icon"></div>
            <div class="search">
                <span class="prefix">[[currentPackage]]</span>
                <input autofocus id="inputField" type="text" placeholder=""/>
                <div class="close" onclick="close()">x</div>
            </div>
            <ul class="results">
                <template id="resultList" is="dom-repeat" items="{{itemList}}" as="item">
                    <li onclick="click()" class$="[[item.selected]]">
                        <img src="[[item.icon]]">
                        <div class="texts">
                            <span>{{ item.title }}</span>
                            <p v-if="item.d !== undefined">[[item.d]]</p>
                            <p v-else>[[item.path]]</p>
                        </div>
                        <div class="score">
                            [[item.score]]<span v-if="item.called"> + [[item.called]]</span>
                        </div>
                    </li>
                </template>
            </ul>
            <div class="footer">
                <div class="search-time">[[searchTime]]</div>
                <div class="handle">· · · ·</div>
                <div class="status">[[totalItems]] items in Catalog · Haste 1.0</div>
            </div>
        </div>
    </template>

    <script>
        //import { default as minifyCssString } from 'minify-css-string';
        class HasteSearch extends Polymer.Element {
            static get is() { return "haste-search"; }

            constructor() {
                super();
                this.input = null;
                this.searchTimer;
            }

            static get properties() {
                return {
                    selectedIndex: {
                        type: Number,
                        observer: '_indexChange'
                    },
                    selectedItem: Object,
                    currentPackage: String,
                    itemList: Array,
                    jsonList: String,
                    searchTime: String,
                    totalItems: Number,
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.input = this.shadowRoot.getElementById("inputField");
                this.input.addEventListener('input', () => this.inputChange());
                this.input.addEventListener('keydown', e => this.keyDown(e));
            }

            click(d) {
                console.log('click');
                console.log(d);
                console.log(this.selectedItem);
                console.log( this.get('selectedItem'));
            }
            keyDown(e) {
                switch (e.code) {
                    case "Tab":         this.onTab(e); break;
                    case "Enter":       this.onEnter(e); break;
                    case "ArrowUp":     this.onArrowUp(e); break;
                    case "ArrowDown":   this.onArrowDown(e); break;
                    case "Backspace":   this.onBackspace(e); break;
                }
            }
            onTab(e) {
                e.preventDefault();
                if (this.itemList[this.selectedIndex].d === "Plugin") {
                    this.set('currentPackage', this.itemList[this.selectedIndex].title);
                    this.input.value = "";
                    this.clearList();
                }
            }
            onEnter(e) {
                e.preventDefault();
                if (this.itemList[this.selectedIndex].d === "Plugin") {
                    this.onTab(e);
                }
                console.log('enter');
                console.log(this.itemList[this.selectedIndex]);
            }
            onArrowUp(e) {
                e.preventDefault();
                if (this.selectedIndex > 0) {
                    this.set('selectedIndex', this.selectedIndex-1);
                }
            }
            onArrowDown(e) {
                e.preventDefault();
                if (this.selectedIndex < this.itemList.length-1) {
                    this.set('selectedIndex', this.selectedIndex+1);
                }
            }
            onBackspace(e) {
                if (this.input.value.length === 0) {
                    this.set('currentPackage', "");
                    this.clearList();
                }
            }
            inputChange() {
                if (this.input.value.length > 0) {
                    this.searchTimer = Date.now();
                    let payload = {val: this.input.value, package: this.currentPackage};
                    this.dispatchEvent(new CustomEvent('search', {detail: payload}));
                } else {
                    this.clearList();
                }
            }

            updateList(data) {
                console.log('updateList', data);
                if (data && data.data) {
                    this.set('jsonList', data.data);
                    this.set('itemList', JSON.parse(data.data));
                    this.set('selectedIndex', -1);
                    this.set('totalItems', data.total);
                    this.set('selectedIndex', 0);
                } else {
                    this.clearList();
                }
                this.set('searchTime', (Date.now() - this.searchTimer) + " ms");
            }

            _indexChange() {
                console.log('active change');
                if (this.jsonList && this.selectedIndex >= 0) {
                    let tmp = JSON.parse(this.jsonList);
                    tmp[this.selectedIndex].selected = "selected";
                    this.set('itemList', tmp);
                }
            }

            clearList() {
                this.set('jsonList', "");
                this.set('itemList', []);
                this.set('selectedIndex', -1);
                this.set('searchTime', "");
            }

            removeStyles() {
                let styles = this.shadowRoot.querySelectorAll('style');
                for (let i in styles) {
                    if (styles[i] instanceof Node) {
                        this.shadowRoot.removeChild(styles[i]);
                    }
                }
            }

            loadStyles(cssString) {
                console.log('Loading styles...');
                let style = document.createElement('style');
                style.appendChild(document.createTextNode(cssString));
                this.shadowRoot.appendChild(style);
            }

            disconnectedCallback() {
                this.input.removeEventListener('input', () => this.change());
                this.input.removeEventListener('keydown', e => this.keyDown(e));
            }
        }
        customElements.define(HasteSearch.is, HasteSearch);
    </script>

</dom-module>